body{
	width: 1200px;
	margin: 0 auto;
}
#block li{
	width: 250px;
	padding: 5px 10px;
	background: tomato;
	color: white;
	margin-bottom: 10px;
}
#list p.active{
	color: green;
}
#block ul{
	padding-left: 0;
}
#block li:hover{
	cursor: pointer;
}
